@font-face{
    font-family: Faster;
    src: url(fonts/FasterOne-Regular.ttf)
}

@font-face{
    font-family: JAY-Z;
    src: url(fonts/CarterOne-Regular.ttf)
}

@font-face{
    font-family: KNEW;
    src: url(fonts/Knewave-Regular.ttf)
}

@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf)
}



div {
    font-family: Faster;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 10px;
    
    
}




#koro_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid black;
    
 }
 
 
 
 .focus_three{
     
        margin-left: 50px;
        background-color: #fd8888; 
        border-top: black; 
        /* margin-right: 50px; */
        border: 2px solid black;
        font-size: 14px;
        color: black;
        text-align: center;
        width: 100px;
}


#koro_logo {
    width: 400px;
    height: 70px;
   
}

.text{
    font-family: Roboto;
    color: white;
    background-color:#ebb3b0;
    font-size: 14px;
    border: 3px solid black;
   
}

.txet{
    font-family: Roboto;
    color: black;
    background-color:#80b3ff;
    font-size: 14px;
    border: 3px solid black;
   
}

.dropdown-item{
    background-color: #80b3ff; 
    border-top: black; 
    margin-right: 50px;
    border: 2px solid black;
    font-size: 14px;
    color: white;
    ;
  }

#dropdownMenuButton1{
    background-color: #80b3ff; 
    border-top: black; 
    margin-right: 50px;
    border: 2px solid black;
    font-size: 14px;
    color: black;
    width: 120px;
    height: 42.5px;
    padding: 0px;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  


 



